<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
      "http://www.w3.org/TR/html4/loose.dtd">
<!-- You can run the QUnit tests by starting the Aggregator plugin and going to
     http://localhost:3990/streams/plugins/servlet/jstests/all-tests (see atlassian-plugin.xml) -->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Streams QUnit Test</title>
        <meta name="decorator" content="atl.general">
        $webResourceManager.requireResource("com.atlassian.streams.streams-js-tests-plugin:all-tests")
        <script>
            var ActivityStreams;
            window.gadgets = window.gadgets || {};
            window.gadgets.window = {
                setTitle: function() {},
            };
            window.gadgets.Prefs = function () {
                return {
                    getBool: function(param) {
                        return !!param;
                    },
                    getMsg: function() {
                        return "Mocked msg";
                    },
                }
            };
        </script>
    </head>
    <body>
        <h1 id="qunit-header">Streams QUnit Test Results</h1>
        <h2 id="qunit-banner"></h2>
        <h2 id="qunit-userAgent"></h2>
        <ol id="qunit-tests"></ol>
        <fieldset class="parameters hidden">
            <!-- for jatom test -->
            <input type="hidden" value="$applicationProperties.getBaseUrl()" name="baseUrl" id="baseUrl">

            <!-- for date test -->
            <input type="hidden" value="$i18n.getText("gadget.activity.stream.time.today")" name="gadget.activity.stream.time.today" id="gadget.activity.stream.time.today">
            <input type="hidden" value="$i18n.getText("gadget.activity.stream.time.past.moment")" name="gadget.activity.stream.time.past.moment" id="gadget.activity.stream.time.past.moment">
            <input type="hidden" value="$i18n.getText("gadget.activity.stream.time.past.minute")" name="gadget.activity.stream.time.past.minute" id="gadget.activity.stream.time.past.minute">
            <input type="hidden" value="$i18n.getText("gadget.activity.stream.time.past.minutes", "{0}")" name="gadget.activity.stream.time.past.minutes" id="gadget.activity.stream.time.past.minutes">
            <input type="hidden" value="$i18n.getText("gadget.activity.stream.time.past.hour")" name="gadget.activity.stream.time.past.hour" id="gadget.activity.stream.time.past.hour">
            <input type="hidden" value="$i18n.getText("gadget.activity.stream.time.past.hours", "{0}")" name="gadget.activity.stream.time.past.hours" id="gadget.activity.stream.time.past.hours">
            <input type="hidden" value="$i18n.getText("gadget.activity.stream.time.past.day")" name="gadget.activity.stream.time.past.day" id="gadget.activity.stream.time.past.day">
            <input type="hidden" value="$i18n.getText("gadget.activity.stream.time.past.dayWithTime", "{0}")" name="gadget.activity.stream.time.past.dayWithTime" id="gadget.activity.stream.time.past.dayWithTime">
            <input type="hidden" value="$i18n.getText("gadget.activity.stream.time.past.days", "{0}")" name="gadget.activity.stream.time.past.days" id="gadget.activity.stream.time.past.days">
            <input type="hidden" value="$i18n.getText("gadget.activity.stream.time.past.weeks", "{0}")" name="gadget.activity.stream.time.past.weeks" id="gadget.activity.stream.time.past.weeks">
            <input type="hidden" value="$i18n.getText("gadget.activity.stream.time.past.year")" name="gadget.activity.stream.time.past.year" id="gadget.activity.stream.time.past.year">

            <input type="hidden" value="$i18n.getText("gadget.activity.stream.time.datetime", "{0}", "{1}")" name="gadget.activity.stream.time.datetime" id="gadget.activity.stream.time.datetime">
        </fieldset>
    </body>
</html>
