
.aui-message .icon-applinks-key {
    background: url(images/applinks-key.png) no-repeat scroll 0 0 transparent;
    height: 16px;
    width: 16px;
}

.aui-message .icon-applinks-key-success {
    background: url(images/applinks-key-success.png) no-repeat scroll 0 0 transparent;
    height: 16px;
    width: 16px;
}

.applinks-auth-messages .applinks-auth-request {
    margin-bottom: 0.3em;
}