body.wallboard {
    background: #000;
    color: #5c5c5c;
    font: 20px/1.1 helvetica, arial, sans-serif;
    padding: 10px 0
}

.wallboard .view a, .wallboard .view a:link, .wallboard .view a:visited {
    color: #99c0dd;
    text-decoration: none;
}

/*******************************************************************/
/*  CONTAINER                                                      */
/*******************************************************************/

.wallboard .activity-stream-container {
    padding: 0;
}

.wallboard .activity-stream-header {
    display: none;
}

/* hide Show More button since wallboards are not interactive */
.wallboard #activity-stream-show-more {
    display: none;
}

.wallboard .footer {
    display: none;
}

.wallboard #filter-options {
    display: none;
}

.wallboard .blanket-container {
    background: none;
}

.wallboard .blanket-container .aui-blanket {
    display: none;
}

/*******************************************************************/
/*  ACTIVITY ITEM                                                  */
/*******************************************************************/

.wallboard .activity-item {
    background: #111;
    border-left: 3px solid #666;
    border-top: 0;
    color: #5c5c5c;
    margin: 0.3em 0;
    padding-bottom: 0.2em;
    padding-left: 72px;
    padding-top: 0.2em;
}

.wallboard .activity-item-summary {
    color: #5c5c5c;
    padding-top: 0;
}

.wallboard .user-icon {
    margin-top: 0.2em;
}

.wallboard .activity-item a.activity-item-user, .wallboard .activity-item a:link.activity-item-user, .wallboard .activity-item a:visited.activity-item-user {
    color: #aaa;
}

.wallboard .activity-item-description blockquote {
    background: none;
    border: none;
}

.wallboard .activity-item-info > * {
    display: none;
}

.wallboard .activity-item-info .icon {
    display: block;
    left: 45px;
    opacity: 0.75;
    position: absolute;
    top: 45px;
}

.wallboard .user-content, .wallboard blockquote {
    background: url(images/wallboard-quote-bg.png) no-repeat 0 0;
    margin: 0;
    padding: 0 0 0 1.05em;
}

.wallboard .user-content blockquote, .wallboard .user-content blockquote blockquote {
    background: none;
    padding: 0;
}

.wallboard .activity-item-description {
    margin-top: 0;
}

.wallboard .activity-item-description > * {
    display: none;
}

.wallboard .activity-item-description .user-content, .wallboard .activity-item-description blockquote {
    color: #fff;
    display: block;
}

.wallboard .date-header {
    border: none;
    color: #999;
}

/* Don't group activity items */
.wallboard .activity-item-grouped .activity-item-summary {
    border: none;
}

.wallboard .activity-item-grouped .user-icon {
    display: block;
}

.wallboard .activity-stream-container .thumbnails img {
    border-color: #333;
}

.wallboard .content-more {
    display: none;
}

.wallboard .aui-message {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 0.8em;
}

.wallboard .aui-message .aui-icon {
    display: none;
}

.wallboard .aui-message.aui-message-warning {
    color: #ffd;
}

.wallboard .aui-message.aui-message-error {
    color: #df9898;
}

/*******************************************************************/
/*  PRODUCT OVERRIDES                                              */
/*******************************************************************/

 /* Confluence */

.wallboard .confluence-activity-item {
    border-left-color:  #8FCB69;
}

.wallboard .activity-item-description p, .wallboard .activity-item-description td, .wallboard .activity-item-description table,
.wallboard .activity-item-description tr, .wallboard .activity-item-description .bodytext, .wallboard .activity-item-description .stepfield {
    color: #fff;
    font-size: 1em;
}

.wallboard .user-hover .renderIcon {
    display: none;
}

/* JIRA */

.wallboard .jira-activity-item {
    border-left-color: #f4942c;
}

.wallboard div.wiki-edit div.panelcontent, .wallboard div.panelcontent {
    background-color: #333;
}

.wallboard div.preformattedcontent pre, .wallboard div.codecontent pre {
    color: #fff;
    overflow: hidden;
}

/* Bamboo */

.wallboard .bamboo-activity-item {
    border-left-color:  #FBB814;
}

.wallboard .stream-build-summary {
    font-weight: bold;
}

.wallboard .stream-build-fail, .wallboard .stream-tests-failed {
    color: #900;
}

.wallboard .stream-build-success, .wallboard .stream-tests-passed {
    color: #693;
}

.wallboard .stream-tests-none {
    color: #b47c04;
}

/* FeCru */

.wallboard .fisheye-activity-item {
    border-left-color:  #65A3E2;
}

.wallboard .crucible-activity-item {
    border-left-color:  #FD8663;
}


