<!DOCTYPE html>
<html>
<head>
<meta name="decorator" content="atl.general">
</head>
<body>

<input type="hidden" id="applink-id" value="$applinkId">
<input type="hidden" id="applink-auth-admin-uri" value="$authAdminUri">
<input type="hidden" id="applink-authorized" value="$success">

    <div class="aui-message aui-message-success">
        $i18n.getText("auth.oauth.config.dance.success")
    </div>
    
<script type="text/javascript">

var applinkId = AJS.$("#applink-id").val(),
    authAdminUri = AJS.$("#applink-auth-admin-uri").val(),
    success = AJS.$("#applink-authorized").val();

if (window.opener && window.opener.AJS && window.opener.AJS.$) {
    window.opener.AJS.$(window.opener.document).trigger('applinks.auth.completion',
        [applinkId, (success == "true"), authAdminUri]);
    window.close();
}

</script>

</body>
</html>
